.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar{
background-color: rgb(205, 179, 231);
}
mat-toolbar b{
 color: rgb(8, 34, 182);
 font-size: 30px;
 font-weight: bold;
 font-family: cursive;
 margin-left: 1cm;
}


.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}